@import url("https://fonts.googleapis.com/css2?family=Barlow:wght@300;400;500;600;700&family=Montserrat:wght@300;400;500;600;700&display=swap");
@tailwind base;
@tailwind components;
@tailwind utilities;

/* //todo use tailwind*/

body {
  background: #e3dcd2;
  font-family: "Barlow", sans-serif;
  font-size: 14px;
  color: #343a40;
}

::-webkit-scrollbar-thumb {
  background-color: #e3dcd2;
}

::-webkit-scrollbar {
  width: 8px;
  height: 0px;
}
